In [1]:
# https://scikit-learn.org/1.5/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
# cv = CountVectorizer()
# cv = CountVectorizer(stop_words='english')
cv = CountVectorizer(stop_words='english', max_features=5)
cv = CountVectorizer(stop_words='english', ngram_range=(1, 2))

In [30]:
data = [
    'I love programming in Python Python.',
    'Python is a great programming language.',
    'I love coding and learning new programming languages.'
]

In [31]:
import pandas as pd
data1 = pd.DataFrame(data, columns=["Text"])
print(data1)

                                                Text
0               I love programming in Python Python.
1            Python is a great programming language.
2  I love coding and learning new programming lan...

In [32]:
cv.fit_transform(data1)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 1 stored elements and shape (1, 1)>

In [33]:
x = cv.fit_transform(data1["Text"])

In [34]:
x.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 2, 0, 1],
       [0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0],
       [1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0]])

In [36]:
x1 = x.toarray()

In [37]:
cv.get_feature_names_out()

array(['coding', 'coding learning', 'great', 'great programming',
       'language', 'languages', 'learning', 'learning new', 'love',
       'love coding', 'love programming', 'new', 'new programming',
       'programming', 'programming language', 'programming languages',
       'programming python', 'python', 'python great', 'python python'],
      dtype=object)

In [38]:
pd.DataFrame(x1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,2,0,1
1,0,0,1,1,1,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0
2,1,1,0,0,0,1,1,1,1,1,0,1,1,1,0,1,0,0,0,0

In [39]:
len(cv.get_feature_names_out())

20

In [40]:
data2 = pd.DataFrame(x1, columns=cv.get_feature_names_out())

In [41]:
data2["Text"]=data1["Text"]
data2

,coding,coding learning,great,great programming,language,languages,learning,learning new,love,love coding,...,new,new programming,programming,programming language,programming languages,programming python,python,python great,python python,Text
0,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,2,0,1,I love programming in Python Python.
1,0,0,1,1,1,0,0,0,0,0,...,0,0,1,1,0,0,1,1,0,Python is a great programming language.
2,1,1,0,0,0,1,1,1,1,1,...,1,1,1,0,1,0,0,0,0,I love coding and learning new programming lan...

In [ ]:
dir(cv)

**TF IDF**

In [42]:
# https://scikit-learn.org/1.5/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
tf = TfidfVectorizer()

In [44]:
x2 = tf.fit_transform(data1["Text"])

In [45]:
pd.DataFrame(x2.toarray(), columns=tf.get_feature_names_out())

,and,coding,great,in,is,language,languages,learning,love,new,programming,python
0,0.000000,0.000000,0.000000,0.485596,0.000000,0.000000,0.000000,0.000000,0.369308,0.000000,0.286801,0.738616
1,0.000000,0.000000,0.504611,0.000000,0.504611,0.504611,0.000000,0.000000,0.000000,0.000000,0.298032,0.383770
2,0.410747,0.410747,0.000000,0.000000,0.000000,0.000000,0.410747,0.410747,0.312384,0.410747,0.242594,0.000000

In [77]:
# x-mean/std

# fit(x,y)=learn
# transform=apply

# fit_transform = train
# transform = test

**Word2VEC**

In [49]:
%pip install gensim

Collecting gensim
  Downloading gensim-4.3.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (8.1 kB)
Requirement already satisfied: numpy<2.0,>=1.18.5 in /opt/homebrew/anaconda3/envs/capstone/lib/python3.12/site-packages (from gensim) (1.26.4)
Collecting scipy<1.14.0,>=1.7.0 (from gensim)
  Downloading scipy-1.13.1-cp312-cp312-macosx_12_0_arm64.whl.metadata (60 kB)
Collecting smart-open>=1.8.1 (from gensim)
  Using cached smart_open-7.0.5-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: wrapt in /opt/homebrew/anaconda3/envs/capstone/lib/python3.12/site-packages (from smart-open>=1.8.1->gensim) (1.16.0)
Downloading gensim-4.3.3-cp312-cp312-macosx_11_0_arm64.whl (24.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.0/24.0 MB 11.7 MB/s eta 0:00:00a 0:00:01
Downloading scipy-1.13.1-cp312-cp312-macosx_12_0_arm64.whl (30.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.4/30.4 MB 11.7 MB/s eta 0:00:00a 0:00:01
Using cached smart_open-7.0.5-py3-none-any.whl (61 kB)
Installing collected packages: smart-open, scipy, gensim
  Attempting uninstall: scipy
    Found existing installation: scipy 1.14.1
    Uninstalling scipy-1.14.1:
      Successfully uninstalled scipy-1.14.1
Successfully installed gensim-4.3.3 scipy-1.13.1 smart-open-7.0.5
Note: you may need to restart the kernel to use updated packages.

In [51]:
from gensim.models import Word2Vec

In [52]:
data1["Text"]

0                 I love programming in Python Python.
1              Python is a great programming language.
2    I love coding and learning new programming lan...
Name: Text, dtype: object

In [53]:
data1["list1"] = data1["Text"].apply(lambda x: x.split())

In [55]:
data1

,Text,list1
0,I love programming in Python Python.,"[I, love, programming, in, Python, Python.]"
1,Python is a great programming language.,"[Python, is, a, great, programming, language.]"
2,I love coding and learning new programming lan...,"[I, love, coding, and, learning, new, programm..."

In [56]:
w1 = Word2Vec(data1["list1"],vector_size=50, window=3, min_count=1, epochs=3)

In [58]:
w1.wv['Python']

array([-0.01631583,  0.0089916 , -0.00827415,  0.00164907,  0.01699724,
       -0.00892435,  0.009035  , -0.01357392, -0.00709698,  0.01879702,
       -0.00315531,  0.00064274, -0.00828126, -0.01536538, -0.00301602,
        0.00493959, -0.00177605,  0.01106732, -0.00548595,  0.00452013,
        0.01091159,  0.01669191, -0.00290748, -0.01841629,  0.0087411 ,
        0.00114357,  0.01488382, -0.00162657, -0.00527683, -0.01750602,
       -0.00171311,  0.00565313,  0.01080286,  0.01410531, -0.01140624,
        0.00371764,  0.01217773, -0.0095961 , -0.00621452,  0.01359526,
        0.00326295,  0.00037983,  0.00694727,  0.00043555,  0.01923765,
        0.01012121, -0.01783478, -0.01408312,  0.00180291,  0.01278507],
      dtype=float32)

In [59]:
len(w1.wv['Python'])

50

In [60]:
w1.wv.most_similar("Python",topn=3 )

[('languages.', 0.12486252188682556),
 ('is', 0.0806228294968605),
 ('learning', 0.07401058822870255)]

In [61]:
w1.save("word2vec.h5")

In [62]:
w1.wv.most_similar(positive=["Python", "language."] , negative=["new"], topn=1)

[('programming', 0.08174727857112885)]