# Agenda
- Data Structures - List, Tuples, Dict, Sets
- Conditional Statementes - if - else
- Control Statements - for,while
- String Formatting
- Functions in Python
- List comprehension
- Introduction to OOPs

# List

- it can hold multiple values (any data type)
- values are separate by comma
- entire collection is enclosed within square brackets
- modified

Operations:
- Indexing - getting the element based on its position
- Slicing - getting the collection of elements based on the position
- Concatenation 
- Membership testing
- len()

In [ ]:
l1 = [10,"hello",25.5, 21,"world"]
type(l1)

In [ ]:
print(type(l1))

In [ ]:
l1[0]

In [ ]:
l1[3]

In [ ]:
l1[1]

In [ ]:
l1

In [ ]:
l1[0] = 99
l1

In [ ]:
l1[0:3] # start : end

In [ ]:
l1[2:4]

In [ ]:
len(l1) # len function

In [ ]:
l1[2:5] # start: length of the sequence

In [ ]:
l1[2:] #start:  (default it will take till the end of the sequence)

In [ ]:
l1[:4] # default = 0 l1[0:4]

In [ ]:
l1

In [ ]:
l2 = [20,30,40]

In [ ]:
l1 + l2

In [ ]:
l1

In [ ]:
l2

In [ ]:
99 in l1

In [ ]:
100 not in l1

## Built-in functions

In [ ]:
l1.append('python')

In [ ]:
l1

In [ ]:
l1.remove(21)

In [ ]:
l1

In [ ]:
# l1.<tab> - completion
# l1.append(shift+tab) --> documentation

# Tuples

- can hold the values of various data type
- enclosed within parenthesis
- values are immutable

Operations of Sequences will work by default

In [ ]:
tup = (10,20,30,40,"hello")
type(tup)

In [ ]:
# indexing
tup[3]

In [ ]:
#slicing
tup[0:3]

In [ ]:
#concatenation
tup2 = (10,20,30)
tup + tup2

In [ ]:
# membership testing
10 in tup

In [ ]:
tup

In [ ]:
tup[2] = "python"

In [ ]:
# Tuples are faster than list

# Dictionary
- contains the key:value pair
- each pair is seprated by comma
- collection is enclosed within curly braces

In [ ]:
d1 = {"name": "jack",
     "age":42,
     "occupation":"army"}
type(d1)

In [ ]:
d1['age']

In [ ]:
d1['name']

In [ ]:
d1['last_name'] = "Reacher"

In [ ]:
d1

In [ ]:
d1['age'] = 50

In [ ]:
d1

In [ ]:
d1 = {"name": "jack",
     "age":42,
     "occupation":"army",
     'name':'reacher'}
type(d1)

In [ ]:
d1

In [ ]:
# Built-in functions
d1.keys()

In [ ]:
d1.values() # values

In [ ]:
d1.items() # return key-pair as tuples

In [ ]:
d1.pop('name')

In [ ]:
d1

# Sets
- values are enclosed in curly braces
- can contain only unique values
- unordered

In [ ]:
s1 = {10,20,30,10,20,"hello","world",20,30,"jack"}
s1

In [ ]:
# membership testing
10 in s1

In [ ]:
s1[0]

In [ ]:
s1.remove(10)

In [ ]:
s1

# Assignment In Class

## Tuple Basics:

- Create a tuple named my_tuple containing five elements of your choice.
- Print the third element of my_tuple.
- Attempt to change the value of the third element of my_tuple to a new value and observe the error.

## Tuple Operations:

- Create two tuples, tuple1 and tuple2, each containing at least three elements.
- Concatenate tuple1 and tuple2 and store the result in a new tuple named concatenated_tuple.
- Print concatenated_tuple.


## Dictionary Basics:

- Create a dictionary named my_dict with the following key-value pairs:
"name": Your name
"age": Your age
"city": Your city
- Print my_dict.


## Dictionary Operations:

- Add a new key-value pair to my_dict: "country" with the value of your country.
- Print my_dict.
- Update the value of the "city" key to a new city.
- Print my_dict.
- Remove the "country" key from my_dict.
- Print my_dict.

In [ ]:
# Solution

# Conditional Statements in Python

In [ ]:
print("hello")
print("good morning")
print("hello")
print("good morning")

## Syntax of if condition statement

```python

if (expression):
    statement(s)

else :
    statement(s)
    
```

In [ ]:
x = 100
y = 20
print("x is",x,"y is ",y)
if x>y:
    print("x is greater than y")
    print("if block has been executed")

else :
    print("x is less than y")
    print("else block has been executed")
print("cell execution completed")

In [ ]:
x = 100
y = 100
print("x is",x,"y is ",y)
if x>y:
    print("x is greater than y")
    print("if block has been executed")

elif x==y:
    print("x is equal to y")
    print("elif block has been executed")
    
else :
    print("x is less than y")
    print("else block has been executed")
print("cell execution completed")

# Control Statements

- For
- While

## For Statement

```python

for value in sequence:
    statement(s)
```

In [ ]:
l1 = [10,20,30,40,50]
len(l1)

In [ ]:
for v in l1:
    print("hello")
    print("world")
print("execution completed")

In [ ]:
for v in l1:
    print(v)
    print("hello")
    print("world")
print("execution completed")

## Control statements
- break : Stop the the execution of the loop, and the execution proceeds in the previous block

- continue : stop the current loop, and proceeds with next iteration

In [ ]:
l1 = [10,20,30,40,50]
len(l1)

In [ ]:
for v in l1:
    if v == 30:
        break
    print(v)
print("execution completed")

In [ ]:
for v in l1:
    if v == 30:
        continue
    print(v)
print("execution completed")

In [ ]:
for sam in l1:
    if sam == 30:
        continue
    print(sam)
print("execution completed")

# While Loops

Syntax:
```python

while (expression):
    statement(s)
```

In [ ]:
x = 10

while (x<20):
    print("Execution completed from while block")
    print(x)
    x += 1
print("execution completed")

# In Class assignment :
- Write a while loop that prints all even numbers between two values that you get from user 
(hint : x%2 == 0)
- Write a while loop that counts down from 10 to 1 and prints each number.

In [ ]:
start = int(input("Enter the starting value: "))
end = int(input("Enter the ending value: "))

if start % 2 != 0:
    start += 1
current_number = start
while current_number <= end:
    print(current_number)
    current_number += 2

In [ ]:
count = 10
while count > 0:
    print(count)
    count -= 1

# Range

In [ ]:
range(5)

In [ ]:
list(range(5))

In [ ]:
range(2,10)

In [ ]:
list(range(2,10))

In [ ]:
for i in range(2,10):
    print(i)

In [ ]:
start = int(input("Enter the starting value: "))
end = int(input("Enter the ending value: "))

for v in range(start, end+1):
    if v%2 == 0:
        print(v)

# String Formatting

Johnny, Johnny
Yes, Papa
Eating sugar?
No, Papa
Telling lies?
No, Papa
Open your mouth
Ha! Ha! Ha!

In [ ]:
x = "Jack"
y = "Sam"
print(x,x,"Yes,",y,"Eating sugar?","No,",y)

In [ ]:
result = "{},{} yes {}, eating sugar?, No, {} ".format(x,x,y,y)
print(result)

In [ ]:
result = "{a},{a} yes {b}, eating sugar?, No, {b} ".format(a=x,b=y)
print(result)

In [ ]:
# f-string
x = "john"
y = "jill"
result = f"{x},{x} yes {y}, eating sugar?, No, {y}"
print(result)

### In Class assignment

- Write a Python program that defines two variables: name (your name) and age (your age).
- Use an f-string to print a message in the format: "My name is [name] and I am [age] years old."