# My Notes

In [ ]:
print("hello world")

In [ ]:
# rename the notebook
# write code and execute the cell
# Switching the modes
# Shortcuts
# Markdown cell

In [ ]:
# Important Shortcuts
# shift+enter (edit mode/cmd mode) --> execute the current cell and move to the next cell (if it doesn't exist - it creates a new cell)
# escape - to enter the command mode
# enter - to go into edit mode

# Command mode
# b --> insert a new cell below my current cell
# a --> insert a new cell above my current cell
# d+d --> delete a cell
# m --> convert a code cell to markdown cell
# y --> convert a markdown cell to code cell

In [ ]:
print("Welcome class")

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

Text

print("Welcome class")

```python
print("Welcome class")
```

# Variables

In [ ]:
# variable name start with letter or underscore
# variable name can be alphanumeric, case sensitive
# cannot contain special characters except _
# variable name cannot be a keyword

In [ ]:
x = 100
print(x)

In [ ]:
x = 120 # x is variable
# 120 is value
# = --> assignment operator
print(x)

In [ ]:
_x = 120
print(_x)

In [ ]:
x123 = 129
X_tyiu = 200

In [ ]:
x = 100
X = 150
print(x)
print(X)

In [ ]:
1x = 200

In [ ]:
x!y = 200

### keyword
A word which has predefined meaning by the creator of programming language

In [ ]:
import keyword
keyword.kwlist

In [ ]:
break = 500

## In class activity
- my_variable
- variable1
- myVar
- _underscore_variable
- class
- __double_underscore_variable
- 1variable
- lambda

# Data type
Type of value we assign to variables
 - int
 - float
 - bool
 - complex

In [ ]:
a = 100 # -ve , 0 ,+ve
print(type(a))

In [ ]:
b = 100.33 # float
print(b)
print(type(b))

In [ ]:
# True False
c = False
print(c)
print(type(c))

In [ ]:
# complex
d = 1 + 4j
print(d)
print(type(d))

### Data Strctures
- Strings
- List
- Tuple
- Dictionary
- Sets

In [ ]:
# String
# Collection of characters
# anything we create in single quote, double quote, triple single quote, triple double quote

# span over single line only
a = "welcome"
b = 'to'

# span over multi line 
c = """python"""
d = '''class'''

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
l1 = "welcome
to class"

In [ ]:
m1 = """welcome to
the class
of
python"""
print(m1)

### Casting
Converting the value from one data type to another data type
1. Implicit Casting
2. Explicit Casting

In [ ]:
x = 100
y = 3.0
print(x/y)

In [ ]:
x = 100
y = float(x)
print(type(x))
print(type(y))

In [ ]:
x = "100"
z = int(x)
print(type(x))
print(type(z))

# Operators in Python Programming

## Arithmetic Operators

In [ ]:
x = 100
y = 25

In [ ]:
z = x+y
print(z)

In [ ]:
z = x-y
print(z)

In [ ]:
z = x/y
print(z)

In [ ]:
z = x//y
print(z)

In [ ]:
a = 5
b = 3
c = a % b
print(c)

In [ ]:
a = 5
b = 3
c = a ** b
print(c)

## Assignment Operators

In [ ]:
a = 5
a += 10 # a = a+10
print(a)

In [ ]:
a = 15
a -= 10 # a = a-10
print(a)

In [ ]:
a = 15
a /= 3 
print(a)

## Comparision Operators

In [ ]:
x = 100
y = 50
z = 100
print(x==z)

In [ ]:
print(x==y)

In [ ]:
print(x!=y) # not equal

In [ ]:
print(x>y)

In [ ]:
print(x<y)

In [ ]:
print(x>=y)

In [ ]:
print(x<=y)

In [ ]:
x = 199
y = 10
print(x+y)

# Getting the input from the user

In [ ]:
# input() - read the input from keyboard as a string value
# syntax - input("Hint")

x = input("please enter a value")
print("entered value is",x)

### In class assignment

- Read the temperature (in celsius) of a kid from keyboard , and convert to Fahrenheit
- Get the age of a student in Years, and convert into days
- Get two numbers as input from user, and print the sum

In [ ]:
x = int(input("num 1"))
y = int(input("num 2"))
s = x+y
print("sum is ",s)

### Logical Operators

In [ ]:
print(True and True)

In [ ]:
print(True and False)

In [ ]:
print(False and False)

In [ ]:
print(False or False)

In [ ]:
print(True or False)

In [ ]:
print(True or True)

In [ ]:
print(not True)

In [ ]:
print(not False)

### Operations performed on Data Structures
- Indexing - getting the element based on its position
- Slicing - getting the collection of elements based on the position
- Concatenation 
- Membership testing
- len()

### Data Strctures
- Strings
- List
- Tuple
- Dictionary
- Sets

In [ ]:
x = "hello world"

In [ ]:
x[0]

In [ ]:
x[2]

In [ ]:
x[4]

In [ ]:
# Reverse indexing

In [ ]:
x[-2]

In [ ]:
x = "hello world"

In [ ]:
#slicing
x[0:5] # start is inclusive and end is exclusive

In [ ]:
x[0:3]

In [ ]:
x = "hello"
y = "world"
print(x+y) # concatenation

In [ ]:
print("o" in x) # membership testing

In [ ]:
print(len(x))

### Built-in Functions of Strings

In [ ]:
x = "hello"
y = x.capitalize()
z = x.upper()
a = "ABCDEF"
b = a.lower()
print(x,y,z,a,b)

In [ ]:
print(x[2])

In [ ]:
x[2] = "k"

In [ ]:
x = "hello\nworld"
print(x)

In [ ]:
x = "hello\tworld"
print(x)

In [ ]:
x = 100
y = 200
x+y

In [ ]:
x = 100
y = 50
x
y
x+y

In [ ]:
x = 100
y = 50
print(x)
print(y)
x+y